<div id="<%= dom_id cliente %>">
  <p>
    <strong>Nombre:</strong>
    <%= cliente.nombre %>
  </p>

  <p>
    <strong>Apellido paterno:</strong>
    <%= cliente.apellido_paterno %>
  </p>

  <p>
    <strong>Apellido materno:</strong>
    <%= cliente.apellido_materno %>
  </p>

  <p>
    <strong>Dni:</strong>
    <%= cliente.DNI %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= cliente.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= cliente.password %>
  </p>

  <p>
    <strong>Edad:</strong>
    <%= cliente.edad %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= cliente.sexo %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= cliente.direccion %>
  </p>

</div>
