<div id="<%= dom_id comprobante %>">
  <p>
    <strong>Tipo comprobante:</strong>
    <%= comprobante.tipo_comprobante %>
  </p>

  <p>
    <strong>Precio total venta:</strong>
    <%= comprobante.precio_total_venta %>
  </p>

  <p>
    <strong>Metodo pago:</strong>
    <%= comprobante.metodo_pago %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= comprobante.estado %>
  </p>

</div>
